* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(30, 30, 46, 0.8);
    color: #CDD6F4;
    border-right: 1px solid #585B70;
}

#clock,
#workspaces,
#cpu,
#memory,
#pulseaudio,
#network,
#battery,
#tray,
#power-profiles-daemon,
#bluetooth {
    background: rgba(45, 45, 69, 0.9);
    margin: 4px 6px;
    border-radius: 12px;
    border: 1px solid #585B70;
    padding: 10px 0;
    transition: all 0.3s ease;
}

label {
    all: unset;
}

#clock, #cpu, #memory, #pulseaudio, #network, #battery, #power-profiles-daemon {
    padding: 12px 0;
}

#clock {
    background: rgba(137, 180, 250, 0.2);
    color: #89B4FA;
    font-size: 16px;
    margin-top: 10px;
}

#workspaces button {
    color: #CDD6F4;
    padding: 6px 0;
    margin: 2px 8px;
    border-radius: 10px;
}

#workspaces button.active {
    background: #89B4FA;
    color: #1E1E2E;
}

#workspaces button:hover {
    background: #45475A;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover,
#power-profiles-daemon:hover {
    background: #585B70;
    border: 1px solid #ABE9B3;
}

/* System Status Colors from your theme */
#battery.critical:not(.charging),
#cpu.critical,
#memory.critical  { color: #eb6f92; border-color: #eb6f92; }

#tray { padding: 10px 0; }
#power-profiles-daemon { margin-bottom: 15px; }

#battery.warning:not(.charging) { color: #f6c177; border-color: #f6c177; }
